root = true
#将以下规则用于以vue、js结尾的文件
[*.{vue,js}]
#字符编码格式
charset = utf-8
#缩进风格
indent_style = space
#缩进字符数
indent_size = 2
#文件末尾插入新行
insert_final_newline = true
#换行符类型
end_of_line = crlf
#去除行尾空格
trim_trailing_whitespace = true
